/cc.id.300.bin.gz
/embeddings_fasttext.npy
/embeddings_indobert-base-p1.npy
/embeddings_indobert-large-p1.npy
/embeddings_xlm-roberta-base.npy
/embeddings_xlm-roberta-large.npy
/embeddings_bert-base-multilingual-uncased.npy
/embeddings_bert-base-multilingual-uncased_rev.npy
/embeddings_indobert-large-p1_rev.npy
/embeddings_fasttext_rev.npy
/embeddings_indobert-base-p1_rev.npy
